<div>
  <mat-form-field appearance="fill">
    <mat-label>Interval Range</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="5">5</mat-option>
      <mat-option value="10">10</mat-option>
      <mat-option value="25">25</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Current interval range: {{selected}}</p>
  <button mat-raised-button (click)="firstInterval()"><<</button>
  <button mat-raised-button (click)="previousInterval()"><</button>
  <button mat-raised-button (click)="nextInterval()">></button>
  <button mat-raised-button (click)="lastInterval()">>></button>
  <mat-paginator [length]="totalItems"
                 [pageSize]="selected"
                 [pageSizeOptions]="[5, 10, 25]"
                 (page)="pageEvent = $event">
  </mat-paginator>
</div>
